extends ../layout 

block content 

    a.btn.btn-primary.btn-sm(type='button' href='/bicicletas/create') Small button
    table.table  
        thead 
            tr 
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo 
                th(scope='col') Ubicacion
                th(scope='col')



        tbody 
            each bici in bicis
                tr 
                    td(scope='row')
                        =bici.body.id
                        td=bici.body.color 
                        td=bici.body.model 
                        td=bici.body.ubicacion[0] + ', ' + bici.body.ubicacion[1]
                        td
                            a(href='bicicletas/'+ bici.body.id+ '/update') Editar
                            form.inline(method='post', action='bicicletas/' + bici.body.id + '/delete')
                                input(type='hidden', name='id', value= bici.body.id)
                        td
                            button.btn.btn-outline-secondary(type='submit', name='submit_param', value='suvm it_value')
                                = 'Eliminar'
                        